<div class="skills-grid">
    <i class="skill-icon devicon-react-original colored"><span>React</span></i>
    <i class="skill-icon devicon-tailwindcss-plain colored"><span>Tailwind</span></i>
    <i class="skill-icon devicon-mongodb-plain colored"><span>Mongo</span></i>
    <i class="skill-icon devicon-postgresql-plain colored"><span>Postgres</span></i>
    <i class="skill-icon devicon-typescript-plain colored"><span>TS</span></i>
    <i class="skill-icon devicon-rust-plain"><span>Rust</span></i>
    <i class="skill-icon devicon-docker-plain colored"><span>Docker</span></i>
    <i class="skill-icon devicon-amazonwebservices-plain-wordmark colored"><span>AWS</span></i>
    <i class="skill-icon devicon-nodejs-plain colored"><span>Node</span></i>
</div>