<div class="timeline">
    <div class="timeline__item timeline__item--active">
        <span class="timeline__date">2025 — 2026</span>
        <h4 class="timeline__title">Heimdall</h4>
        <p class="timeline__desc">CTO and Founder @ Korvant. Lead development of the Heimdall dashboard, focusing on
            high-availability multitenant architecture.</p>
    </div>
    <div class="timeline__item">
        <span class="timeline__date">2024 — PRESENT</span>
        <h4 class="timeline__title">Monash University</h4>
        <p class="timeline__desc">Bachelor of Computer Science student. Building foundational knowledge in distributed
            systems and algorithms.</p>
    </div>
</div>